@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("images/bg-pattern-top-desktop.svg"), url("images/bg-pattern-bottom-desktop.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: -100px 0px, 300px 100px;
    font-size: 15px;
    font-family: 'League Spartan', sans-serif;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.para1 {
    color: hsl(303, 10%, 53%);
}

.upperSection {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: 8rem;
    width: 1100px;
    margin-bottom: 2rem;
}

.content {
    width: 21rem;
    display: flex;
    flex-direction: column;
    margin-right: 16rem;
}

.heading {
    font-weight: 700;
    font-size: 2.5rem;
    color: hsl(300, 43%, 22%);
    line-height: 2.25rem;
    margin-bottom: 0.85rem;
}

.rate {
    display: flex;
    padding: 20px 8px 20px 8px;
    margin: 10px;
    width: 24rem;
    height: 2rem;
    background-color: hsl(300, 24%, 96%);
    align-items: center;
    border-radius: 5px;
}

.starPara {
    font-weight: 500;
    color: hsl(300, 43%, 22%);
}

.Rated {
    width: 30rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
}

.rate1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: -0.4rem;
}

.rate2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -0.4rem;
}

.rate3 {
    display: flex;
    justify-content: flex-end;
    margin-bottom: -0.4rem;
}

.stars {
    margin: 1rem;
}


/*  Second Section */

.topProfileSection {
    display: flex;
    align-items: center;
    margin-bottom: 0.75rem;
}

.image img {
    border-radius: 50%;
    width: 3rem;
    margin-right: 1rem;
}

.profile {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    height: 280px;
    margin-bottom: 5rem;
}

.block {
    width: 335px;
    height: 210px;
    background-color: hsl(300, 43%, 22%);
    padding: 2rem;
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    border-radius: 10px;
    font-size: 16px;
}

.pink {
    color: hsl(333, 80%, 67%);
}

h2 {
    margin-bottom: 0.2rem;
    font-size: 15px;
}

.coloton {
    display: flex;
    align-items: flex-start;
    height: 280px;
}

.irene {
    display: flex;
    align-items: center;
    height: 280px;
}

.anne {
    display: flex;
    align-items: flex-end;
    height: 280px;
}

.para {
    color: hsl(300, 24%, 96%)
}

@media (max-width:1200px) {
    .upperSection {
        width: 800px
    }
    .content {
        margin-right: 3rem
    }
    .coloton,
    .irene,
    .anne {
        height: 250px;
    }
    .block {
        width: 250px;
        height: 200px;
        margin: 0.5rem;
        padding: 1.5rem;
    }
    .profile {
        width: 800px;
    }
}

@media(max-width:820px) {
    .profile {
        flex-direction: column;
        height: auto;
        /* margin-bottom: 5rem; */
    }
    .upperSection {
        flex-direction: column;
        align-items: center;
    }
    .rate1,
    .rate2,
    .rate3 {
        justify-content: center;
    }
    .content {
        width: 30rem;
        text-align: center;
        margin-right: 0;
    }
    .coloton,
    .irene,
    .anne {
        height: 225px;
        justify-content: center;
    }
    .block {
        width: 30rem;
    }
    .rate {
        width: 30rem;
        flex-direction: column;
        height: auto;
        padding: 0 1rem 1rem;
    }
    .Rated {
        margin-top: 2rem;
        height: auto;
    }
    .starPara {
        font-weight: 700;
        font-size: large;
    }
}

@media(max-width:550px) {
    body {
        background-image: url("images/bg-pattern-top-mobile.svg"), url("images/bg-pattern-bottom-mobile.svg");
        background-repeat: no-repeat, no-repeat;
        background-position: 400px 0px, 500px 400px;
    }
    .upperSection {
        width: 282px;
    }
    .rate {
        padding-bottom: 0.5rem;
    }
    .Rated,
    .content {
        width: 17rem;
    }
    .stars {
        margin: 0.5rem;
    }
    .block {
        width: 18rem;
    }
    .profile {
        width: 282px;
    }
    .starPara {
        font-weight: 700;
        font-size: medium;
    }
}