@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("images/bg-pattern-bottom-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 15px;
}

main {
    width: 100%;
    background-image: url("images/bg-pattern-top-desktop.svg");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.para1 {
    color: hsl(303, 10%, 53%);
}

.upperSection {
    display: flex;
    justify-content: center;
    padding: 2rem;
    margin-top: 2rem;
}

.content {
    width: 21rem;
    display: flex;
    flex-direction: column;
    margin-right: 15rem;
    /* padding: 5rem; */
    /* margin-bottom: 2rem; */
}

.heading {
    font-weight: 700;
    font-size: 2.5rem;
    color: hsl(300, 43%, 22%);
    line-height: 2.25rem;
    margin-bottom: 0.85rem;
}

.rate {
    display: flex;
    padding: 5px;
    margin: 10px;
    width: 20rem;
    height: 2rem;
    background-color: hsl(300, 24%, 96%);
    align-items: center;
    border-radius: 5px;
}

.starPara {
    font-weight: 500;
    color: hsl(303, 10%, 53%);
}

.Rated {
    width: 30rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
}

.rate1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: -0.4rem;
}

.rate2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -0.4rem;
}

.rate3 {
    display: flex;
    justify-content: flex-end;
    margin-bottom: -0.4rem;
}

.stars {
    margin: 1rem;
}


/*  Second Section */

.topProfileSection {
    display: flex;
    align-items: center;
    margin-bottom: 0.75rem;
}

.image img {
    border-radius: 50%;
    width: 3rem;
    margin-right: 1rem;
}

.profile {
    display: flex;
}

.block {
    width: 275px;
    height: 150px;
    background-color: hsl(300, 43%, 22%);
    margin: 1rem;
    padding: 2rem;
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    border-radius: 10px;
}

.pink {
    color: hsl(333, 80%, 67%);
}

.profile {
    display: flex;
    justify-content: center;
}

.coloton {
    display: flex;
    align-items: flex-start;
    height: 300px;
}

.irene {
    display: flex;
    align-items: center;
    height: 300px;
}

.anne {
    display: flex;
    align-items: flex-end;
    height: 300px;
}

@media(max-width:400px) {
    .profile {
        flex-direction: column;
    }
    .upperSection {
        flex-direction: column;
    }
    .rate1 {
        justify-content: center;
    }
    .rate2 {
        justify-content: center;
    }
    .rate3 {
        justify-content: center;
    }
    .content {
        align-items: center;
    }
}